{{define "title"}}
  Events
{{end}}

{{define "content"}}
<div>
  <form enctype="multipart/form-data" action="/events/calc" method="post">
    <select name="s">
      <option value="2013-2014">2013-2014</option>
      <option value="2012-2013">2012-2013</option>
      <option value="2011-2012">2011-2012</option>
      <option value="2010-2011">2010-2011</option>
    </select>
    <button type="submit">Calculate</button>
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>Start Time</th>
      <th>Home</th>
      <th>Result</th>
      <th>Away</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
      <tr>
        <td>{{ .StartTime.Format "02-01-2006" }}</td>
        <td>{{ .Home }}</td>
        <td>
          <div>
            {{ .HGoal }} - {{ .AGoal }}
          </div>
          <div>
            {{ .HRating }} - {{ .ARating }}
          </div>
        </td>
        <td>{{ .Away }}</td>
      </tr>
    {{end}}
  </tbody>
</table>
{{end}}
