{{define "title"}}
  Events
{{end}}

{{define "content"}}
<div class="row">
  <ul class="nav nav-pills pull-right">
    <li><a href="/events/{{ .League }}?s=2010-2011&d=2010-08-15">2010-2011</a></li>
    <li><a href="/events/{{ .League }}?s=2011-2012&d=2011-08-15">2011-2012</a></li>
    <li><a href="/events/{{ .League }}?s=2012-2013&d=2012-08-15">2012-2013</a></li>
    <li><a href="/events/{{ .League }}?s=2013-2014&d=2013-08-15">2013-2014</a></li>
  </ul>
</div>
<div class="row">
  <ul class="pager">
    <li class="previous"><a href="{{ .PreviousUrl }}">&larr; Previous</a></li>
    <li class="next"><a href="{{ .NextUrl }}">Next &rarr;</a></li>
  </ul>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Home</th>
        <th>Result</th>
        <th>Away</th>
        <th>%</th>
        <th></th>
        <th>H</th>
        <th>D</th>
        <th>A</th>
        <th>AH - hdp</th>
        <th>AH - H</th>
        <th>Ah - A</th>
        <th>Over (2.5)</th>
        <th>Under (2.5)</th>
      </tr>
    </thead>
    <tbody>
      {{range .Events}}
        <tr>
          <td>
            {{ if .Calculated }}
              <span title="calculated">&check;</span>
            {{ end }}
            {{ if not .HasEnoughRating }}
              <span title="warning: not enough form rating">&excl;</span>
            {{ end }}
          </td>
          <td>{{ .StartTime.Format "02-01-2006" }}</td>
          <td>
            <span
              title="{{ printf "%d %d/%d" .HFormRatingLen .HNetRatingLen .HRatingLen }}">
              {{ .Home }}
            </span>
          </td>
          <td>{{ .HGoal }} - {{ .AGoal }}</td>
          <td>
            <span
              title="{{ printf "%d %d/%d" .AFormRatingLen .ANetRatingLen .ARatingLen }}">
              {{ .Away }}
            </span>
          </td>
          <td>
            <span 
              class="{{ .RatingDiffClass }}"
              title="{{ printf "(%.2f, %+.2f, %+.2f) v (%.2f, %+.2f, %+.2f)" .HRating .HNetRating .HFormRating .ARating .ANetRating .AFormRating }}">
              {{ printf "%+.2f" .RatingDiff }} %
            </span>
          </td>
          <td>
            <span class="label {{ .ResultClass }}">{{ .ResultString }}</span>
          </td>
          <td>
            {{ printf "%.2f" .MaxOdds.Home }}
            <span class="lay">
              {{ .LayPrice .MaxOdds.Home | printf "%.2f" }}
            </span>
          </td>
          <td>{{ printf "%.2f" .MaxOdds.Draw }}</td>
          <td>{{ printf "%.2f" .MaxOdds.Away }}</td>
          <td>{{ printf "%.2f" .MaxAHOdds.Handicap }}</td>
          <td>{{ printf "%.2f" .MaxAHOdds.Home }}</td>
          <td>{{ printf "%.2f" .MaxAHOdds.Away }}</td>
          <td>{{ printf "%.2f" .MaxOUOdds.Over }}</td>
          <td>{{ printf "%.2f" .MaxOUOdds.Under }}</td>
        </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
