{{define "title"}}
  Events
{{end}}

{{define "content"}}
<a href="{{ .PreviousUrl }}">Prev</a>
<a href="{{ .NextUrl }}">Next</a>
<table>
  <thead>
    <tr>
      <th>Start Time</th>
      <th>Home</th>
      <th>Result</th>
      <th>Away</th>
    </tr>
  </thead>
  <tbody>
    {{range .Events}}
      <tr>
        <td>{{ .StartTime.Format "02-01-2006" }}</td>
        <td>{{ .Home }}</td>
        <td>
          <div>
            {{ .HGoal }} - {{ .AGoal }}
          </div>
          <div>
            {{ .HRating }} - {{ .ARating }}
          </div>
        </td>
        <td>{{ .Away }}</td>
      </tr>
    {{end}}
  </tbody>
</table>
{{end}}
