{{define "title"}}
  Update goals details
{{end}}

{{define "content"}}
<div class="row">
  <div class="col-lg-4">
    <form action="/events/fetchGoals" method="post">
      <fieldset>
        <legend>Update goals details (fb24)</legend>
      </fieldset>
      <div class="form-group">
        <label for="season">Season</label>
        <select name="season" class="form-control">
          <option value="2013-2014">2013-2014</option>
          <option value="2012-2013">2012-2013</option>
          <option value="2011-2012">2011-2012</option>
          <option value="2010-2011">2010-2011</option>
        </select>
      </div>
      <div class="form-group">
        <label for="league">League</label>
        <select name="league" class="form-control">
          <option value="epl">Premier League</option>
          <option value="serie-a">Serie A</option>
          <option value="bundesliga">Bundesliga</option>
          <option value="la-liga">La Liga</option>
          <option value="ligue-1">Ligue 1</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default">Update</button>
    </form>
  </div>
</div>
{{end}}
