.win {
  background-color: #5cb85c
}

.draw {
  background-color: #f0ad4e
}

.lose {
  background-color: #d9534f
}

.positive {
  color: #5cb85c
}

.negative {
  color: #d9534f
}

.pager li>a, .pager li>span {
  border-radius: 5px
}

span.lay {
  font-weight: bold;
  font-size: 12px;
  color: #f5c9c9
}
